
@{
	ViewBag.Title = "Index";
}

<table id="example" class="display">
	<thead>
		<tr>
			<th>Nombre Sample</th>
			<th>Author</th>
			<th>Escuchar</th>
			<th>Descargar</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Aire 1</td>
			<td></td>
			<td>
				<audio controls="controls">
					<source src="~/Audios/aire1.mp3" type="audio/mpeg" />
				</audio>
			</td>
			<td><div class="text-center"><button class="btn btn-success"><i class="fas fa-download"></i></button></div></td>
		</tr>

		<tr>
			<td>Aire 2</td>
			<td></td>
			<td>
				<audio controls="controls">
					<source src="~/Audios/aire2.mp3" type="audio/mpeg" />
				</audio>
			</td>
			<td><div class="text-center"><button class="btn btn-success"><i class="fas fa-download"></i></button></div></td>
		</tr>

		<tr>
			<td>Aire 3</td>
			<td></td>
			<td>
				<audio controls="controls">
					<source src="~/Audios/aire3.mp3" type="audio/mpeg" />
				</audio>
			</td>
			<td><div class="text-center"><button class="btn btn-success"><i class="fas fa-download"></i></button></div></td>
		</tr>

		<tr>
			<td>Aire 4</td>
			<td></td>
			<td>
				<audio controls="controls">
					<source src="~/Audios/aire4.mp3" type="audio/mpeg" />
				</audio>
			</td>
			<td><div class="text-center"><button class="btn btn-success"><i class="fas fa-download"></i></button></div></td>
		</tr>

		<tr>
			<td>Disparo</td>
			<td></td>
			<td>
				<audio controls="controls">
					<source src="~/Audios/disparo.mp3" type="audio/mpeg" />
				</audio>
			</td>
			<td><div class="text-center"><button class="btn btn-success"><i class="fas fa-download"></i></button></div></td>
		</tr>

		<tr>
			<td>Golpe</td>
			<td></td>
			<td>
				<audio controls="controls">
					<source src="~/Audios/golpe.mp3" type="audio/mpeg" />
				</audio>
			</td>
			<td><div class="text-center"><button class="btn btn-success"><i class="fas fa-download"></i></button></div></td>
		</tr>

		<tr>
			<td>Juas</td>
			<td></td>
			<td>
				<audio controls="controls">
					<source src="~/Audios/juas.mp3" type="audio/mpeg" />
				</audio>
			</td>
			<td><div class="text-center"><button class="btn btn-success"><i class="fas fa-download"></i></button></div></td>
		</tr>

		<tr>
			<td>Laser</td>
			<td></td>
			<td>
				<audio controls="controls">
					<source src="~/Audios/laser.mp3" type="audio/mpeg" />
				</audio>
			</td>
			<td><div class="text-center"><button class="btn btn-success"><i class="fas fa-download"></i></button></div></td>
		</tr>

	</tbody>
</table>



