
@{
    ViewBag.Title = "Index";
}

<h1 class="jumbotron">Boletines El Peruano - FileResult</h1>
@using (Html.BeginForm("Mostrar", "Ejercicio6a", FormMethod.Post))
{

    <br />
    <table class="table">
        <tr>
            <th>Boletines</th>
            <th>Edicion</th>
            <th>Fecha</th>
            <th>Archivo</th>
        </tr>

        <tr>
            <td>Boletin el Peruano</td>
            <td>10555</td>
            <td>21/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar1" value="Generar1"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>

        </tr>
        <tr>
            <td>Boletin el Peruano</td>
            <td>10556</td>
            <td>22/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar2" value="Generar2"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>
        </tr>

        <tr>
            <td>Boletin el Peruano</td>
            <td>10557</td>
            <td>23/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar3" value="Generar3"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>
        </tr>
        <tr>
            <td>Boletin el Peruano</td>
            <td>10558</td>
            <td>24/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar4" value="Generar4"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>
        </tr>

        
        <tr>
            <td>Boletin el Peruano</td>
            <td>10560</td>
            <td>26/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar6" value="Generar6"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>
        </tr>

        <tr>
            <td>Boletin el Peruano</td>
            <td>10561</td>
            <td>27/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar7" value="Generar7"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>
        </tr>
        <tr>
            <td>Boletin el Peruano</td>
            <td>10562</td>
            <td>28/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar8" value="Generar8"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>
        </tr>
        <tr>
            <td>Boletin el Peruano</td>
            <td>10563</td>
            <td>29/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar9" value="Generar9"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>
        </tr>
        <tr>
            <td>Boletin el Peruano</td>
            <td>10564</td>
            <td>30/09/2019</td>
            <td><button style="background-color:white;" type="submit" name="Generar10" value="Generar10"><img src="~/Imagenes/verpdf.png" height="50" width="75" /></button></td>
        </tr>

    </table>


}

