
@{
	ViewBag.Title = "bloquearTarjeta";
}

<div class="alert alert-success" role="alert">
	Se bloqueo la tarjeta <b>@Session["estado"]</b>.
</div>
<div class="text-center">
	<a class="btn btn-primary" href="Index">volver</a>
</div>


