
@{
	ViewBag.Title = "retirarMonto";
}

<div class="alert alert-success" role="alert">
	Dinero Actualizado Monto total: <b>@Session["dinero"]</b>.
</div>
<div class="text-center">
	<a class="btn btn-primary" href="LoginUsuario">volver</a>
</div>



